body {
  color: white;
}
.heading {
  width: 80%;
  font-size: 22px;
}
#camera {
  display: flex;
  justify-content: space-around;
  /* border: 2px dashed black; */
  /* width: 350px;
  height: 300px; */

  margin: 0;
  margin-left: 0;
  /* margin-left: -546px; */
}
.name_of_objects,
#result_object_name,
#result_object_accuracy {
  color: rgb(241, 137, 155);
  font-weight: bold;
  margin-bottom: 2em;
}

.emotions {
  display: flex;
  justify-content: space-evenly;
}
#video {
  width: 40%;
  border: 2px dashed black;
}
#canvas {
  border: 2px dashed black;
  /* width: 350px;
  height: 300px; */
  width: 40%;
}
.windows {
  display: flex;
}
